# EditorConfig: https://editorconfig.org
# Tabs for PHP/CSS (WordPress Coding Standards), spaces for JS/JSON/MD/YAML.

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

[*.{js,jsx,ts,tsx,json,md,yml,yaml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[{composer.json,phpcs.xml.dist,phpunit.xml.dist}]
indent_style = tab
